.About{
    margin: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.267) 1.95px 1.95px 2.6px;
}

.about-img img{
    border-radius: 10px;
    margin-top: 80px;
    height: 75%;
    width: 90%;
}
.about-content {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    line-height: 2;
     
    
}
.about-content h1{
    color: grey;
    font-family: cursive;
    text-align: center;
    margin-left: 1px;   
}
.about-content p{
    text-align: justify;
    font-size: 18px;
}
