/* General Styling */
.project-details-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  
  .back-button {
    font-size: 1rem;
    color: #1900ffe8;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .back-button:hover {
    color: #0056b3;
  }
  
  /* Image and Technologies Section */
  .proj-img {
    padding-top: 20px;
    text-align: center;
  }
  
  .proj-img img {
    border-radius: 10px;
    margin-top: 20px;
    height: auto;
    width: 90%;
  }
  .project-technologies{
    padding-top: 50px;
  }
  
  .project-technologies h3 {
    color: #dd0d1ed3;
    margin-top: 20px;
  }
  
  .project-technologies ul {
    list-style-type: none;
    padding-top: 10px;
  }
  
  .project-technologies li {
    font-size: 1rem;
    color: #555;
    margin: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .project-technologies .custom-icon {
    color: #0f7300;
    font-size: 1.2rem;
    margin-right: 10px;
  }
  
  /* Content Section */
  .about-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .about-content p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
  }
  
  .project-links {
    margin-top: 20px;
  }
  
  .project-links .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
  }
  
  .project-links .btn-primary {
    background-color: #007bff;
  }
  
  .project-links .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .project-links .btn-secondary {
    background-color: #6c757d;
  }
  
  .project-links .btn-secondary:hover {
    background-color: #5a6268;
  }
  